<div class="social_wrapper clearfix">
  <ul>
    <li class="qq"><a href="#" target="_blank"><i class="fa fa-qq"></i></a></li>
    <li class="twitter"><a href="http://twitter.com/#" target="_blank"><i class="fa fa-twitter"></i></a></li>
    <li class="pinterest"><a href="http://pinterest.com/#" target="_blank" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
    <li class="instagram"><a href="http://instagram.com/#" target="_blank" title="Instagram"><i class="fa fa-instagram"></i></a></li>
  </ul>
</div>
<header class="main-header">
  <div class="main-header-logo">
    <h1><a href="/" title="chrislion"></a></h1>
  </div>
</header>
<nav class="main-header-nav">
  <ul class="nav-menu clearfix">
    <li class="menu-item"><a href="/">Home</a></li>
    <li class="menu-item"><a href="/pictures">Pictures</a></li>
    <li class="menu-item"><a href="">About</a></li>
  </ul>
</nav>