<!doctype html>
  <html>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
      <meta name="apple-mobile-web-app-status-bar-style" content="default">
      <meta name="format-detection" content="telephone=no">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="apple-mobile-web-app-title" content="Chrislion">
      <title>{{ title }}</title>
      <link rel="apple-touch-icon" sizes="128x128" href="/favicon.ico">
      <link rel="stylesheet" type="text/css" href="/admin/css/bootstrap.min.css"></link>
      <link rel="stylesheet" type="text/css" href="/admin/css/main.css"></link>
    </head>
    <body>
      <div id="root"></div>
      <script src="/admin/js/bundle.js"></script>
    </body>
</html>